<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>274330431602-3qe6fugn6trs4va9568204chk6ubm2u6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.274330431602-3qe6fugn6trs4va9568204chk6ubm2u6</string>
	<key>API_KEY</key>
	<string>AIzaSyC0XohCTc0ziQAt2ddqZfRrMCk_nYCYSTo</string>
	<key>GCM_SENDER_ID</key>
	<string>274330431602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kompetanseutleie.skychat</string>
	<key>PROJECT_ID</key>
	<string>skychat-19b6b</string>
	<key>STORAGE_BUCKET</key>
	<string>skychat-19b6b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:274330431602:ios:48f37dbe953feb8f24d2eb</string>
</dict>
</plist>
